.sc8 {
  box-sizing: border-box;
  height: 478px;
  width: 1300px;
  margin-bottom: 10px;
}
.sc8_1 {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.sc8_2 {
  box-sizing: border-box;
  padding: 40px;
  height: 100%;
}
.sc8_3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.sc8_header {
  display: flex;
}
.sc8_header > h2 {
  padding-right: 20px;
  margin: 0;
}
.sc8_header > div {
  display: flex;
  flex-direction: column;
}
.sc8_header > div > p {
  font-size: 0.9em;
  display: flex;
  margin: 0;
}
.span1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00e45f;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #00e45f;
  margin-right: 5px;
}
.span2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e45000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #e45000;
  margin-right: 5px;
}

.sc8_main {
  padding-top: 20px;
  height: 100%;
  box-sizing: border-box;
}
.sc8_ol {
  padding: 0;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.sc8_ol > li {
  display: flex;
  width: 50%;
  margin-bottom: 15px;
}
.circle1 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #61dafb;

  margin-right: 10px;
}
.sc8_text1 {
  display: flex;
  flex-direction: column;
}
.sc8_text1 > h2 {
  margin: 0;
}
.text1_line1 {
  display: flex;
}
.text1_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text1_line1 > div {
  width: 50px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text1_line2 {
  display: flex;
}
.text1_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text1_line2 > div {
  width: 450px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}

.circle2 {
  margin-right: 10px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #b76d45;
}
.sc8_text2 {
  display: flex;
  flex-direction: column;
}
.sc8_text2 > h2 {
  margin: 0;
}
.text2_line1 {
  display: flex;
}
.text2_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text2_line1 > div {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;

  margin-right: 5px;
  margin-bottom: 5px;
}
.text2_line2 {
  display: flex;
}
.text2_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text2_line2 > div {
  width: 150px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}

.circle3 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-image: url(https://www.gravatar.com/avatar/3af6511cf44a709e6ae5b612903c846c.jpg?s=64);
  margin-right: 10px;
}
.sc8_text3 {
  display: flex;
  flex-direction: column;
}
.sc8_text3 > h2 {
  margin: 0;
}
.text3_line1 {
  display: flex;
}
.text3_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text3_line1 > div {
  width: 250px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text3_line2 {
  display: flex;
}
.text3_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text3_line2 > div {
  width: 120px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}
.circle4 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: aquamarine;
  margin-right: 10px;
}
.sc8_text4 {
  display: flex;
  flex-direction: column;
}
.sc8_text4 > h2 {
  margin: 0;
}
.text4_line1 {
  display: flex;
}
.text4_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text4_line1 > div {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text4_line2 {
  display: flex;
}
.text4_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text4_line2 > div {
  width: 150px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}
.circle5 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-image: url(https://www.themoviedb.org/t/p/w64_and_h64_face/uJngdDd0WzNYGwlmBGYrDxp1akP.jpg);
  margin-right: 10px;
}
.sc8_text5 {
  display: flex;
  flex-direction: column;
}
.sc8_text5 > h2 {
  margin: 0;
}
.text5_line1 {
  display: flex;
}
.text5_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text5_line1 > div {
  width: 450px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text5_line2 {
  display: flex;
}
.text5_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text5_line2 > div {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}
.circle6 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: rgba(8, 8, 233, 0.61);
  margin-right: 10px;
}
.sc8_text6 {
  display: flex;
  flex-direction: column;
}
.sc8_text6 > h2 {
  margin: 0;
}
.text6_line1 {
  display: flex;
}
.text6_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text6_line1 > div {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text6_line2 {
  display: flex;
}
.text6_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text6_line2 > div {
  width: 150px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}

.circle7 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-image: url(https://www.gravatar.com/avatar/a925d7068c9402c1a988e39611f47bfe.jpg?s=64);
  margin-right: 10px;
}
.sc8_text7 {
  display: flex;
  flex-direction: column;
}
.sc8_text7 > h2 {
  margin: 0;
}
.text7_line1 {
  display: flex;
}
.text7_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text7_line1 > div {
  width: 120px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text7_line2 {
  display: flex;
}
.text7_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text7_line2 > div {
  width: 140px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}
.circle8 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: rgb(17, 225, 17);
  margin-right: 10px;
}
.sc8_text8 {
  display: flex;
  flex-direction: column;
}
.sc8_text8 > h2 {
  margin: 0;
}
.text8_line1 {
  display: flex;
}
.text8_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text8_line1 > div {
  width: 110px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text8_line2 {
  display: flex;
}
.text8_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text8_line2 > div {
  width: 130px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}
.circle9 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: rgb(32, 210, 210);
  margin-right: 10px;
}
.sc8_text9 {
  display: flex;
  flex-direction: column;
}
.sc8_text9 > h2 {
  margin: 0;
}
.text9_line1 {
  display: flex;
}
.text9_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text9_line1 > div {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text9_line2 {
  display: flex;
}
.text9_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text9_line2 > div {
  width: 110px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.circle10 {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-image: url(https://www.gravatar.com/avatar/cb76d8c304688b3180098aecf97ce600.jpg?s=64);
  margin-right: 10px;
}
.sc8_text10 {
  display: flex;
  flex-direction: column;
}
.sc8_text10 > h2 {
  margin: 0;
}
.text10_line1 {
  display: flex;
}
.text10_line1 > h4 {
  font-size: 0.1em;
  margin: 0;
}
.text10_line1 > div {
  width: 80px;
  border-radius: 5px;
  border: 1px solid #00e45f;
  background-color: #00e45f;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text10_line2 {
  display: flex;
}
.text10_line2 > h4 {
  font-size: 0.1em;
  margin: 0;
}

.text10_line2 > div {
  width: 90px;
  border-radius: 5px;
  border: 1px solid #e45000;
  background-color: #e45000;
  margin-right: 5px;
  margin-bottom: 5px;
}
