.sc4 {
  width: 1300px;
  height: 388px;
  background-image: url(https://www.themoviedb.org/t/p/w1920_and_h427_multi_faces/8kxhwABuQhoybGr6TPdrV8w5FLm.jpg);
  background-color: linear-gradient(
    to right,
    rgb(3, 37, 65, 0.75),
    rgba(3, 37, 65, 0.75)
  );
  background-blend-mode: multiply;
  /* filter: drop-shadow(0 0 0 rgb(8, 8, 36)); */
}

.sc4_3 {
  box-sizing: border-box;
  padding-top: 30px;
  height: 100%;
}

.sc4_4 {
  height: 100%;
}
.sc4_header {
  align-items: center;
  padding-left: 30px;
  display: flex;
  color: aliceblue;
}
.sc4_header > h2 {
  border-color: #032541;
  border-radius: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
.sc4_s {
  display: flex;

  align-items: center;
}
.sc4_sa {
  border-color: #032541;
  border-radius: 30px;
}
.sc4_sa > h3 {
  padding: 4px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.sc4_sb > h3 {
  padding: 4px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.sc4_sc > h3 {
  padding: 4px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.sc4_sd > h3 {
  padding: 4px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.sc4_content {
  height: 250px;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-x: scroll;
  overflow-x: auto;
}
.sc4_content::-webkit-scrollbar {
  width: 10px;
}
.sc4_content::-webkit-scrollbar-thumb {
  background-color: #cfd3da;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 30px;
}
.sc4_content::-webkit-scrollbar-track {
  background-color: white;
}

.sc4_content_in {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.sc4_content1 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content1_img {
  border-radius: 5px;
  height: 168px;
  width: 100%;
  background-size: cover;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/8kxhwABuQhoybGr6TPdrV8w5FLm.jpg);
}
.sc4_content1_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content1_img:hover > .sc4 {
  transition: all 0.5s;
  transform: scale(1.1);
  background-color: #00e45f;
}
.sc4_content1_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content1_txt > h3 {
  padding-top: 20px;
  margin: 0;
}

.sc4_content2 {
  margin-left: 40px;
  height: 100%;
  width: 300px;
  min-width: 300px;
}
.sc4_content2_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/gluQnLUHCAxDZyJrYkyMQh2H8yF.jpg);
}
.sc4_content2_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content2_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content2_txt > h3 {
  padding-top: 20px;
  margin: 0;
}

.sc4_content3 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content3_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/uDobm15VCxWW2MZX3CQey0L6XLj.jpg);
}
.sc4_content3_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content3_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content3_txt > h3 {
  padding-top: 20px;

  margin: 0;
}
.sc4_content4 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content4_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/zymbuoBoL1i94xAOzVJF6IuWLfD.jpg);
}
.sc4_content4_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content4_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content4_txt > h3 {
  padding-top: 20px;

  margin: 0;
}
.sc4_content5 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content5_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/u6NTVBHWVpQ2KDQHVkjAxf9XMMe.jpg);
}
.sc4_content5_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content5_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content5_txt > h3 {
  padding-top: 20px;
  margin: 0;
}
.sc4_content6 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content6_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/7uFcnzXTRpSax0QqF8lT1VWPNFO.jpg);
}
.sc4_content6_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content6_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content6_txt > h3 {
  padding-top: 20px;
  margin: 0;
}
.sc4_content7 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content7_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/9ijMGlJKqcslswWUzTEwScm82Gs.jpg);
}
.sc4_content7_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content7_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content7_txt > h3 {
  padding-top: 20px;
  margin: 0;
}
.sc4_content8 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content8_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/iHSwvRVsRyxpX7FE7GbviaDvgGZ.jpg);
}
.sc4_content8_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content8_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content8_txt > h3 {
  padding-top: 20px;
  margin: 0;
}
.sc4_content9 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content9_img {
  object-fit: contain;
  border-radius: 5px;
  height: 168px;
  background-image: url(https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/ttBydD0SynC0TMkW3AcnmsySkLp.jpg);
}
.sc4_content9_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content9_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content9_txt > h3 {
  padding-top: 20px;
  margin: 0;
}
