.sc4 {
  width: 1300px;
  height: 388px;
  background-image: url(https://www.themoviedb.org/t/p/w1920_and_h427_multi_faces/8kxhwABuQhoybGr6TPdrV8w5FLm.jpg);
  background-color: linear-gradient(
    to right,
    rgb(3, 37, 65, 0.75),
    rgba(3, 37, 65, 0.75)
  );
  background-blend-mode: multiply;
}

.sc4_3 {
  box-sizing: border-box;
  padding-top: 30px;
  height: 100%;
}

.sc4_4 {
  height: 100%;
}
.sc4_header {
  align-items: center;
  padding-left: 30px;
  display: flex;
  color: aliceblue;
}
.sc4_header > h2 {
  border-color: #032541;
  border-radius: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
.sc4_s {
  display: flex;

  align-items: center;
}
.sc4_a {
  border-color: #032541;
  border-radius: 30px;
}
.sc4_a > h3 {
  padding: 4px 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.sc4_content {
  height: 250px;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-x: scroll;
  overflow-x: auto;
}
.sc4_content::-webkit-scrollbar {
  width: 10px;
}
.sc4_content::-webkit-scrollbar-thumb {
  background-color: #cfd3da;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 30px;
}
.sc4_content::-webkit-scrollbar-track {
  background-color: white;
}

.sc4_content_in {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.sc4_content1 {
  margin-left: 40px;
  width: 300px;
  min-width: 300px;
}
.sc4_content1_img {
  border-radius: 5px;
  height: 168px;
  width: 100%;
  background-size: cover;
}
.sc4_content1_img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.sc4_content1_img:hover > .sc4 {
  transition: all 0.5s;
  transform: scale(1.1);
  background-color: #00e45f;
}
.sc4_content1_txt {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc4_content1_txt > h3 {
  padding-top: 20px;
  margin: 0;
}
