.sc6 {
  width: 1300px;
  height: 448px;
}
.sc6_2 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.sc6_3 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.sc6_4 {
  box-sizing: border-box;
}
.sc6_header {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}
.sc6_header > h2 {
  margin: 0;
  margin-right: 20px;
}

.sc6_header_b {
  border: 1px solid #032541;
  border-radius: 30px;
  display: flex;
}
.sc6_header_button {
  border-radius: 30px;
}
.sc6_header_button1 {
  background: #032541;
  border-color: #032541;
  border-radius: 30px;
}
.sc6_header_button2 {
}
.sc6_header_button1 > h3 {
  background: linear-gradient(to right, rgb(2, 252, 119), rgb(0, 255, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 4px 20px;
}
.sc6_header_button2 > h3 {
  margin: 0;
  padding: 4px 20px;
}
.sc6_header_button3 > h3 {
  margin: 0;
  padding: 4px 20px;
}
.sc6_header_button4 > h3 {
  margin: 0;
  padding: 4px 20px;
}

.sc6_content {
  overflow-x: scroll;
  overflow-x: auto;
  width: 100%;
  height: 100%;
}

.sc6_content::-webkit-scrollbar {
  width: 10px;
}
.sc6_content::-webkit-scrollbar-thumb {
  background-color: #cfd3da;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 30px;
}
.sc6_content::-webkit-scrollbar-track {
  background-color: white;
}

.sc6_content_in {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
}
.sc6_content_in1 {
  width: 150px;
  min-width: 150px;
}

.in111_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/8Q7Zxnxdn64nGrA1qklKNnFJ7QB.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in111_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in111_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.sc6_content_in2 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
}
.in222_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/oktTNFM8PzdseiK1X0E0XhB6LvP.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in222_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in222_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.sc6_content_in3 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
}
.in333_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/lvYWwQj89ioSk9WzhC1KEujmpWa.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in333_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in333_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.sc6_content_in4 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
  height: 100%;
}
.in444_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/7iVwF5l0jkIkIOVSvHI6HM4gKU5.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in444_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in444_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.sc6_content_in5 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
  height: 100%;
}
.in555_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/lxfllsQQ32gKglUxrM61WaFeNcy.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in555_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in555_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.sc6_content_in6 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
  height: 100%;
}
.in666_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/voddFVdjUoAtfoZZp2RUmuZILDI.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in666_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in666_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.sc6_content_in7 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
  height: 100%;
}
.in777_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/xo86KtpjsGZRuI3vF17aHxHNX3E.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in777_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in777_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.sc6_content_in8 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
  height: 100%;
}
.in888_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/4EYPN5mVIhKLfxGruy7Dy41dTVn.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in888_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in888_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.sc6_content_in9 {
  margin-left: 20px;
  width: 150px;
  min-width: 150px;
  height: 100%;
}
.in999_img {
  background-image: url(https://www.themoviedb.org/t/p/w220_and_h330_face/e4nR9m6nY7HpaaeiEL1ixaYqReq.jpg);
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in999_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in999_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
