.sc6 {
  width: 1300px;
  height: 448px;
}
.sc6_2 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.sc6_3 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.sc6_4 {
  box-sizing: border-box;
}
.sc6_header {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}
.sc6_header > h2 {
  margin: 0;
  margin-right: 20px;
}

.sc6_header_b {
  border: 1px solid #032541;
  border-radius: 30px;
  display: flex;
}
.sc6_header_button {
  border-radius: 30px;
}
.sc6_header_button1 {
  background: #032541;
  border-color: #032541;
  border-radius: 30px;
}
.sc6_header_button2 {
}
.sc6_header_button1 > h3 {
  background: linear-gradient(to right, rgb(2, 252, 119), rgb(0, 255, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 4px 20px;
}
.sc6_header_button2 > h3 {
  margin: 0;
  padding: 4px 20px;
}
.sc6_header_button3 > h3 {
  margin: 0;
  padding: 4px 20px;
}
.sc6_header_button4 > h3 {
  margin: 0;
  padding: 4px 20px;
}

.sc6_content {
  overflow-x: scroll;
  overflow-x: auto;
  width: 100%;
  height: 100%;
}

.sc6_content::-webkit-scrollbar {
  width: 10px;
}
.sc6_content::-webkit-scrollbar-thumb {
  background-color: #cfd3da;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 30px;
}
.sc6_content::-webkit-scrollbar-track {
  background-color: white;
}

.sc6_content_in {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
}
.sc6_content_in1 {
  width: 150px;
  padding-left: 20px;
  min-width: 150px;
}

.in111_img {
  background-size: cover;
  border-radius: 5%;
  width: 100%;
  height: 220px;
  display: inline-block;
  box-sizing: border-box;
}
.in111_img_content {
  flex-wrap: wrap;
  padding: 26px 10px 12px 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.in111_img_content > h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
