.sc3_header_b {
  border: 1px solid #032541;
  border-radius: 30px;
  display: inline-flex;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.sc3_btn:not(.active) {
  color: black;
  margin: 0;
  padding: 0;
  padding: 0px 15px;
}

.sc3_btn.active > h3 {
  background: linear-gradient(to right, rgb(2, 252, 119), rgb(0, 255, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 80px;
}

.sc3_btn:not(.active) > h3 {
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 80px;
}

.sc3_btn {
  border-color: 1px solid #032541;
  border-radius: 30px;
  cursor: pointer;
  flex: 1;
}

.sc3_btn.active {
  background: #032541;
  color: black;
  margin: 0;
  padding: 0;
  padding: 4px 15px;
}

.white-theme {
  border: 1px solid rgba(30, 213, 169, 1);
}

.white-theme .sc3_btn.active {
  background: rgba(30, 213, 169, 1);
}
.white-theme .sc3_btn.active > h3 {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white-theme .sc3_btn:not(.active) > h3 {
  color: white;
}
