.sc3_header_b {
  border: 1px solid #032541;
  border-radius: 30px;
  display: flex;
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

/* 버튼 공통 스타일 */
.sc3_btn1,
.sc3_btn2 {
  border-color: 1px solid #032541;
  border-radius: 30px;
  cursor: pointer;
}

.sc3_btn1.active,
.sc3_btn2.active {
  background: #032541;
  color: black;
  margin: 0;
  padding: 0;
  width: 50%;
}

.sc3_btn1:not(.active),
.sc3_btn2:not(.active) {
  color: black;
  margin: 0;
  padding: 0;
  width: 50%;
}

.sc3_btn1.active > h3,
.sc3_btn2.active > h3 {
  background: linear-gradient(to right, rgb(2, 252, 119), rgb(0, 255, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 비활성화된 버튼의 텍스트 색상 */
.sc3_btn1:not(.active) > h3,
.sc3_btn2:not(.active) > h3 {
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
