/* 기존 스타일 설정 유지 */
.sc3 {
  width: 1300px;
  height: 481px;
}

.sc3_2 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.sc3_3 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.sc3_4 {
  box-sizing: border-box;
  height: 100%;
}

.sc3_header {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.sc3_header > h2 {
  margin: 0;
  margin-right: 20px;
}

.sc3_content {
  overflow-x: scroll;
  overflow-x: auto;
  width: 100%;
  height: 400px;
  padding-top: 20px;
}

.sc3_content::-webkit-scrollbar {
  width: 10px;
}

.sc3_content::-webkit-scrollbar-thumb {
  background-color: #cfd3da;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 30px;
}

.sc3_content::-webkit-scrollbar-track {
  background-color: white;
}

.sc3_content_in {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
}
